<div id="pick-container">
  <div class="jumbotron">
    <h1 class="display-3">What's for lunch today?</h1>
    <p class="lead">Tip: Lunch is the least important meal of the day.</p>
    <p>
      <a
        class="btn btn-lg btn-success"
        href="javascript:void(0)"
        role="button"
      >Pick for me!</a>
    </p>
  </div>

  <div id="pick-list" class="row marketing">
    <%
      left_restaurants, right_restaurants = @restaurants.partition.each_with_index { |_, i| i.even? }
    %>
    <div class="col-lg-6">
      <% left_restaurants.each do |restaurant| %>
        <div class="restaurant-thumb">
          <h4><%= restaurant.name %></h4>
          <p><%= restaurant.address %></p>
          <img src="<%= restaurant.image_url %>"/>
          <a
            class="btn btn-lg btn-success"
            href="javascript:void(0)"
            role="button"
          >Pick</a>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6">
      <% right_restaurants.each do |restaurant| %>
        <div class="restaurant-thumb">
          <h4><%= restaurant.name %></h4>
          <p><%= restaurant.address %></p>
          <img src="<%= restaurant.image_url %>"/>
          <a
            class="btn btn-lg btn-success"
            href="javascript:void(0)"
            role="button"
          >Pick</a>
        </div>
      <% end %>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; NextCapital <%= Time.now.year %></p>
  </footer>

</div> <!-- /container -->