<%
  def build_link(restaurant)
    if restaurant.address
      "https://www.google.com/maps/place/" + restaurant.address.split(" ").join("+")
    end
  end
%>
<div id="pick-container">
  <div class="jumbotron">
    <h1 class="display-3">What's for lunch today?</h1>
    <p class="lead">Tip: Lunch is the least important meal of the day.</p>
    <p>
      <form
        method="post"
        action="/restaurant/pick?token=<%= @user.token %>"
      >
        <input type="hidden" name="restaurant_id" value="<%= @restaurants.map(&:id).sample %>">
        <input type="submit" value="Pick for me!" class="btn btn-lg btn-success"/>
      </form>
    </p>
  </div>

  <% if @preferred_restaurant %>
  <div id="picked-restaurant-callout">
    Your current pick:
    <a
      href="<%= build_link(@preferred_restaurant) %>"
      target="_blank"
    ><%= @preferred_restaurant.name %></a>
  </div>
  <% end %>

  <div id="pick-list" class="row marketing">
    <%
      preferred_restaurant_id = @preferred_restaurant.try(:id)
      @restaurants.sort_by(&:name).partition.each_with_index do |_, i|
        i.even?
      end.each do |restaurants|
    %>
    <div class="col-lg-6">
      <% restaurants.each do |restaurant|
           is_picked = preferred_restaurant_id == restaurant.id
      %>
        <div
          id="restaurant-<%= restaurant.id %>"
          class="restaurant-thumb <%= 'picked-restaurant' if is_picked%>"
        >
          <h4><%= restaurant.name %></h4>
          <% if restaurant.categories.count %>
            <h5 class="text-muted"><%= restaurant.categories.map(&:name).join(", ") %></h5>
          <% end%>
          <p>
            <a
              href="<%= build_link(restaurant) %>"
              target="_blank"
            ><%= restaurant.address %></a>
          </p>
          <img src="<%= restaurant.image_url %>"/>
          <% unless is_picked %>
            <form
              method="post"
              action="/restaurant/pick?token=<%= @user.token %>"
            >
              <input type="hidden" name="restaurant_id" value="<%= restaurant.id %>">
              <input type="submit" value="Pick" class="btn btn-lg btn-success"/>
            </form>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <footer class="footer">
    <p>&copy; NextCapital <%= Time.now.year %></p>
  </footer>

</div> <!-- /container -->